@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 25px 90px;
    overflow-x: hidden;
    background: url(https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/cricpro-bg.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 125vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family:'Nunito Sans' 
}

#img-logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

h1{
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 5px 5px rgb(98, 98, 98);
}

h3{
    color: #777777;
    font-size: 24px;
}


#top{
    margin-top: 25px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2553a;
    color: white;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

table{
    width: 1000px;
    font-size: 20px;
    border-spacing: 0px;
}

.grey-bg{
    background-color: #FAFAFA;
}

td, tr, th{
    padding: 10px;
}

td, th{
    border-bottom: 1px solid #bab8b8;
    background-color: white;
}

h4{
    font-size: 20px;
    font-weight: 400;
    color: #217aee;
    display: inline;
    cursor: pointer;
}

h5{
    font-size: 20px;
}

.text-center{
    text-align: center;
}

.sr{
    text-align: right;
}

.text-color{
    color: #959292;
}

footer{
    margin-top: 40px;
    font-size: 18px;
}
